In [ ]:
import re

In [ ]:
txt="on the horizon"
x=re.findall("on",txt)
print(x)
print(len(x))

['on', 'on']
2

In [ ]:
x = re.findall("[arn]", txt)

print(x)

if x:
  print("There is match")
else:
  print("No match!")

print(x.count('a'))

['n', 'r', 'n']
There is match
0

In [ ]:
txt="the python tutorial"
x=re.search("python", txt)
print("The python word located in position :", x.start())

The python word located in position : 4

In [ ]:
txt = "Python regular expression Python"
x = re.match("Python", txt)

print(x)

<re.Match object; span=(0, 6), match='Python'>

In [ ]:
txt="The python word located in the position"
x=re.split("\s", txt.lower())
print(x)
print(x.count('the'))

['the', 'python', 'word', 'located', 'in', 'the', 'position']
2

In [ ]:
txt="The python word located in position"
x=re.split("\s", txt,2)
print(x)

['The', 'python', 'word located in position']

The ‘ ^ ’ character checks if the string starts with a particular word or character.

In [ ]:
txt="The Python regular expression is a sequence of characters, that defines a search pattern."
x=re.findall("^Python", txt)
if x:
  print("This sentence starts with Python")
else:
  print("This sentence doesn't start with Python")

This sentence doesn't start with Python

The ‘$‘ character checks if the string ends with a particular word or character.

In [ ]:
txt="The Python regular expression is a sequence of characters, that defines a search Python"
x=re.findall("Python$", txt)
if x:
  print("This sentence ends with Python")
else:
  print("This sentence doesn't end with Python")

This sentence ends with Python

In [ ]:
x=[]
if x:
  print('True')
else:
  print('False')

False

In [ ]:
txt="The Python regular expression is a sequence of characters, that defines a search pattern."
x=re.findall("Python|C#".lower(), txt.lower())
print(x)
print(x.count('Python'.lower()))
if x:
  print("There is at least one match!")
else:
  print("No match..")

['python', 'c#']
1
There is at least one match!

In [ ]:
#one or more occurrences of a character in a string.
txt="This is Python example"
x=re.findall("thi+",txt.lower())
print(x)
if x:
  print("There is at least one match")
else:
  print("No match")

['thi']
There is at least one match

In [ ]:
#zero or more occurrences of a character in a string
txt="This is Python  thiii example"
x=re.findall("thi*",txt.lower())
print(x)
if x:
  print("There is at least one match")
else:
  print("No match")

['thi', 'th', 'thiii']
There is at least one match

In [ ]:
txt="This is Python example"
x = re.findall("[a-k]", txt.lower())
print(x)

['h', 'i', 'i', 'h', 'e', 'a', 'e']

In [ ]:
txt="This is Python 100+ example"
x = re.findall("\d", txt)
print(x)

['1', '0', '0']

In [ ]:
txt="hello World"
x = re.findall("he..o", txt)
print(x)
if x:
  print('There is a match')
else:#else if elif
  print('No match..')

['hello']
There is a match

In [ ]:
txt="He was ill"
x = re.findall("il{2}", txt)

print(x)
if x:
  print("There is a match")
else:
  print("No match")

['ill']
There is a match

In [ ]:
txt="This is Python example"
x = re.findall("[^arn]", txt)

print(x)

['T', 'h', 'i', 's', ' ', 'i', 's', ' ', 'P', 'y', 't', 'h', 'o', ' ', 'e', 'x', 'm', 'p', 'l', 'e']

In [ ]:
txt="This is Python example 234"
x = re.findall("[0123]", txt)
print(x)

['2', '3']

In [ ]:
txt = "python lectures 123"

x = re.findall("[0-9]", txt)

print(x)

if x:
  print("There is a match!")
else:
  print("No match!")

['1', '2', '3']
There is a match!

In [ ]:
txt = "The lesson starts this morning at 11:45."
x = re.findall("[a-zA-Z]", txt)

print(x)
if x:
  print("There is a match!")
else:
  print("No match!")

['T', 'h', 'e', 'l', 'e', 's', 's', 'o', 'n', 's', 't', 'a', 'r', 't', 's', 't', 'h', 'i', 's', 'm', 'o', 'r', 'n', 'i', 'n', 'g', 'a', 't']
There is a match!

In [ ]:
txt = "The python lesson starts this morning at 11:45."
x = re.findall("[Pp]ython", txt)
print(x)
if x:
  print("There is a match!")
else:
  print("No match!")

['python']
There is a match!

In [ ]:
txt = "he was ill."
x = re.findall("[ai]ll", txt)
print(x)
if x:
  print("There is a match!")
else:
  print("No match!")

['ill']
There is a match!

In [ ]:
txt = "The lesson starts this morning at 11:45."
x = re.sub("\s", "@", txt)
print(x)

The@lesson@starts@this@morning@at@11:45.

In [ ]:
p = re.compile("colou?r")
m = p.search("The color green")
print(m.start())                    # returns 4
m = p.search("abc")                 # returns None
print(m)
p = re.compile("g?mail")
m = p.search("mail")
print(m.start())

4
None
0

##PANDAS

In [ ]:
import pandas as pd # data processing, CSV file I/O

In [ ]:
df = pd.read_csv("/content/sample_data/california_housing_train.csv")
#dataframe

In [ ]:
print(df.shape)

(17000, 9)

In [ ]:
print(df.columns)

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [ ]:
print(df.dtypes)

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

In [ ]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [ ]:
df.tail(3)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           17000 non-null  float64
 1   latitude            17000 non-null  float64
 2   housing_median_age  17000 non-null  float64
 3   total_rooms         17000 non-null  float64
 4   total_bedrooms      17000 non-null  float64
 5   population          17000 non-null  float64
 6   households          17000 non-null  float64
 7   median_income       17000 non-null  float64
 8   median_house_value  17000 non-null  float64
dtypes: float64(9)
memory usage: 1.2 MB

In [ ]:
print(df.describe())

          longitude      latitude  housing_median_age   total_rooms  \
count  17000.000000  17000.000000        17000.000000  17000.000000
mean    -119.562108     35.625225           28.589353   2643.664412
std        2.005166      2.137340           12.586937   2179.947071
min     -124.350000     32.540000            1.000000      2.000000
25%     -121.790000     33.930000           18.000000   1462.000000
50%     -118.490000     34.250000           29.000000   2127.000000
75%     -118.000000     37.720000           37.000000   3151.250000
max     -114.310000     41.950000           52.000000  37937.000000

       total_bedrooms    population    households  median_income  \
count    17000.000000  17000.000000  17000.000000   17000.000000
mean       539.410824   1429.573941    501.221941       3.883578
std        421.499452   1147.852959    384.520841       1.908157
min          1.000000      3.000000      1.000000       0.499900
25%        297.000000    790.000000    282.000000       2.566375
50%        434.000000   1167.000000    409.000000       3.544600
75%        648.250000   1721.000000    605.250000       4.767000
max       6445.000000  35682.000000   6082.000000      15.000100

       median_house_value
count        17000.000000
mean        207300.912353
std         115983.764387
min          14999.000000
25%         119400.000000
50%         180400.000000
75%         265000.000000
max         500001.000000

In [ ]:
print(df["total_rooms"].describe())

count    17000.000000
mean      2643.664412
std       2179.947071
min          2.000000
25%       1462.000000
50%       2127.000000
75%       3151.250000
max      37937.000000
Name: total_rooms, dtype: float64

In [ ]:
df["total_rooms"].value_counts()

1582.0     16
1527.0     15
1717.0     14
1703.0     14
1471.0     14
           ..
5896.0      1
11275.0     1
10626.0     1
151.0       1
2694.0      1
Name: total_rooms, Length: 5533, dtype: int64

In [ ]:
df[df["total_rooms"]==1582]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
2064,-117.33,34.03,14.0,1582.0,347.0,825.0,259.0,2.8281,106300.0
3191,-117.85,34.14,35.0,1582.0,248.0,654.0,221.0,4.9091,275000.0
3433,-117.89,33.88,33.0,1582.0,256.0,771.0,240.0,5.3836,229600.0
4828,-118.09,33.91,34.0,1582.0,343.0,1356.0,324.0,3.4211,141100.0
6332,-118.25,33.89,35.0,1582.0,391.0,1957.0,404.0,2.4537,91500.0
6586,-118.28,34.04,25.0,1582.0,780.0,2390.0,719.0,1.4167,200000.0
6726,-118.29,33.98,41.0,1582.0,416.0,1422.0,370.0,1.0516,108300.0
7208,-118.33,33.99,46.0,1582.0,315.0,777.0,286.0,3.2083,149600.0
7788,-118.39,34.16,46.0,1582.0,279.0,603.0,283.0,5.1169,414300.0
8200,-118.44,34.22,41.0,1582.0,399.0,1159.0,378.0,2.8250,168600.0
8960,-118.90,34.19,26.0,1582.0,196.0,573.0,182.0,10.0595,500001.0
10121,-119.82,36.78,36.0,1582.0,313.0,761.0,318.0,2.6055,69200.0
13615,-121.98,37.36,33.0,1582.0,272.0,809.0,267.0,5.7059,287200.0
13998,-122.04,37.35,28.0,1582.0,264.0,696.0,270.0,5.6780,370100.0
15937,-122.43,37.76,52.0,1582.0,353.0,868.0,329.0,3.8261,250000.0
16774,-122.99,39.02,14.0,1582.0,301.0,851.0,273.0,3.4500,164100.0

In [ ]:
df.sort_values(by='total_rooms', ascending=True).head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
2990,-117.79,35.21,4.0,2.0,2.0,6.0,2.0,2.3750,137500.0
16309,-122.50,37.79,52.0,8.0,1.0,13.0,1.0,15.0001,500001.0
8188,-118.44,34.28,46.0,11.0,11.0,24.0,13.0,2.8750,162500.0
15369,-122.29,37.81,46.0,12.0,4.0,18.0,7.0,0.4999,67500.0
15656,-122.37,37.60,26.0,15.0,3.0,11.0,3.0,5.0480,350000.0